<!DOCTYPE html>
<html>
   <head>
	  <meta charset="utf-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	  <script src="JS Source Files/Match_Data.js"></script>
	  <script src="JS Source Files/Controllers/battingCareer.controller.js"></script>
	  <script src="JS Source Files/Controllers/bowlingCareer.controller.js"></script>
	  <script src="JS Source Files/Controllers/careerInfo.controller.js"></script>
   </head>
   
   <body ng-app="mainModule" ng-cloak>
   <header>
         <h1 align='center'>Sachin Tendulkar's Homepage</h1>
   </header>
   <div>
   <div id='left'>
   
   <pre><img src="Profile_Pic.jpg" alt="Smiley face" height="126" width="126"><h3>Sachin Tendulkar</h3></pre>
   <div>
		<div ng-include="'Partials/personalInfo.html'"></div>
   </div>

   <br>
   </div>
   
   <div id='right'>
		
		<h3>Brief Bio</h3>
		<div ng-controller="careerInfoController">{{briefBio}}</div>
		
		<h3 align='center'>Career Information</h3>
		<div ng-controller="careerInfoController">
			<div ng-include="'Partials/careerInfo.html'"></div>
		</div>
		
		
   </div>
   <hr>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <div ng-controller='battingController' >
            <button type="button" ng-click='showBattingDiv()'>Batting</button>&nbsp;&nbsp;
			<button type="button" ng-click='showBowlingDiv()'>Bowling</button>&nbsp;
			<div ng-include="'Partials/BattingCareer.html'" ng-show="boolBatting"></div>
			<div ng-include="'Partials/BowlingCareer.html'" ng-show="boolBowling"></div>
   </div>
   </div>
   </body>
   
</html>